/* Radix UI Dialog */
.RadixDialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .RadixDialogContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }
  
  .RadixDialogTitle {
    font-size: 18px;
    font-weight: bold;
  }
  
  .RadixDialogDescription {
    margin-top: 10px;
    font-size: 14px;
  }
  
  button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  body{
    background-color: rgb(108 117 125);
  }

  @media (max-width: 768px) {
    .box {
      font-size: 14px; /* Reduz o tamanho da fonte em telas menores */
      padding: 10px;
    }
  }
  
  @media (min-width: 769px) {
    .box {
      font-size: 18px;
      padding: 20px;
    }
  }