.footer{
    background-color: #484e53d8;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

.footer p {
    margin: 0;
}